.searchbar {
  display: flex;
  border: 2px solid #007bff;
  border-radius: 10px;
  overflow: hidden;
  width: 270px;
}

.searchbar input {
  background-color: transparent;
  border: none;
  padding: 6px 8px;
  font-size: 1.1em;
  outline: none;
  background-color: white;
  border-right: 1px solid #007bff;
  width: 100%;
}

.button-search {
  /* width: fit-content;
  height: fit-content; */
  color: white;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #007bff;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}