.navbar {
  padding: 10px;
  background-color: var(--navbar-background-color);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar, .content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-menu {
  display: none;
  font-size: 2em;
  margin: 5px;
}

.group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}

.button-group {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  height: 20px;
  overflow: hidden;
}

.button-group h2 {
  display: none;
}


@media screen and (max-width: 540px) {
  .icon-menu {
    display: flex;
  }

  .navbar, .content {
    flex-direction: column;
    align-items: start;
  }

  .content {
    background-color: white;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    padding: 10px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    transition: all .1s;
  }

  .content .group {
    width: 100%;
  }

  .navbar.open .content {
    left: 0;
    transition: all .4s;
  }

  .button-group {
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .button-group h2 {
    display: block;
  }

  .search-bar {
    width: 100%;
  }
}